.container {
  width: 100%;
  margin-left: 10%;
  align-self: center;
}

.title {
  width: 250px;
  height: 15px;
  background-color: rgb(211, 211, 211);
  margin: 5% auto 2% 0%;
}
.price {
  width: 75px;
  height: 10px;
  background-color: rgb(211, 211, 211);
  margin: 0% auto 2% 0%;
}
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5%;
}
.item {
  display: flex;
  flex-direction: column;
}
.card {
  width: 280px;
  height: 280px;
  background-color: rgb(211, 211, 211);
  margin-right: 20px;
}
