<mat-toolbar class="pre-toolbar">
  <button mat-icon-button class="example-button" (click)="openShipDialog()">
    <mat-icon @zoomin> directions_boat </mat-icon>
  </button>
  @if(userProfile && userProfile.name !==''){
  <p>Hi, {{ userProfile.name }}!</p>
  }
  <span class="second-spacer"></span>
  <div class="pre-toolbar-links">
    @if(userProfile && userProfile.role === admin){
    <a mat-button (click)="goToDashboard()" target="_blank">Dashboard</a>}
    <a mat-button (click)="goHome()" target="_blank">Home</a>
    <a mat-button (click)="openContactUsDialog()">Contact us</a>
    @if(loggedIn()){
    <a mat-button (click)="logout()">Logout</a>
    }@else {
    <a mat-button routerLink="/login">Join us</a>
    }
  </div>
</mat-toolbar>

<mat-toolbar class="toolbar">
  <div class="navbar">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
      <mat-icon><span class="material-symbols-outlined"> menu </span></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <div class="button-row">
      <a mat-button (click)="handleScroll('categories')">Categories</a>
      <a mat-button (click)="goToProducts()">Products</a>
    </div>
  </div>
  <span class="first-spacer"></span>

  <button
    mat-icon-button
    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
    class="example-button"
    (click)="goHome()"
  >
    <mat-icon> shopping_bag </mat-icon>
  </button>
  <span class="name">Fakee-commerce</span>

  <span class="second-spacer"></span>
  <search formControlName="title" />
  <button
    mat-icon-button
    matTooltip="Go to your profile"
    aria-label="Button that displays a tooltip that hides when scrolled out of the container"
    class="example-button"
    routerLink="/profile"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="goToCart()"
  >
    <mat-icon matBadge="{{ getQuantityOfItems() }}" matBadgeColor="warn"
      >local_grocery_store</mat-icon
    >
  </button>
</mat-toolbar>

<mat-toolbar class="post-toolbar">
  <div class="grid-post-toolbar">
    <div class="grid-post-toolbar-item grid-post-toolbar-item-1">
      FREE DELIVERY AND RETURNS
    </div>
    <div class="grid-post-toolbar-item grid-post-toolbar-item-2">
      Fakee members has free delibery and return 30 days
    </div>
  </div>
</mat-toolbar>
