@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Dela+Gothic+One&family=Tilt+Warp&display=swap");

swiper-slide:first-child {
  margin-left: 5%;
}

.categories {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  h1 {
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 900;
    line-height: 100%;
    text-align: start;
    margin: 0% auto 2% 5%;
  }
}

.category-card {
  flex: 0 0 22.5%;
  margin-right: 15px;
}

.category-image {
  height: 280px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.category-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border: none;
  font-family: "Tilt Warp", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
  &:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
}

.error {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 40px;
    line-height: 100%;
    text-align: center;
  }
  hr {
    width: 90%;
    margin: 30px 0 30px 0;
    background-color: #a9a9a9;
    height: 0.5px;
  }
}
