@if(!categoriesInfo.errorMessage){
<div class="categories">
  <h1>Categories</h1>
  <swiper-container
    loop="true"
    navigation="true"
    slides-per-view="4"
    speed="500"
    mousewheel="true"
    direction="horizontal"
  >
    @for(category of categoriesInfo.categories; track category.id){
    <swiper-slide>
      <div class="category-card">
        <div
          class="category-image"
          [style.background-image]="
            category.image ? 'url(' + category.image + ')' : 'none'
          "
        >
          <button (click)="handleClick(category.id!)" class="category-button">
            {{ category.name }}
          </button>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</div>
} @if(categoriesInfo.errorMessage){
<div class="error">
  <hr />
  <h1>Error ocurred loading categories</h1>
  <p>{{ categoriesInfo.errorMessage }}</p>
  <hr />
</div>
} @if(!categoriesInfo.errorMessage && categoriesInfo.categories.length === 0){
@defer(on timer (2000ms)){

<div class="error">
  <hr />
  <h1>Sorry, but we do not have any category at this moment</h1>
  <p>{{ categoriesInfo.errorMessage }}</p>
  <hr />
</div>
} }
