@if(newestProduct && !infoProducts.errorMessage){
<div class="newest-product">
  <h4>New arrival</h4>
  <h1>{{ newestProduct.title.toLocaleUpperCase() }}</h1>
  <h3>
    {{ newestProduct.description.substring(0, 150) + "..." }}
  </h3>
  <button (click)="goToProductDetails()">Show Details</button>
</div>
} @if(infoProducts.errorMessage){
<div class="error">
  <hr />
  <h1>Error ocurred loading the newest product</h1>
  <p>{{ infoProducts.errorMessage }}</p>
  <hr />
</div>
}@if(infoProducts.products.length ===0 && !infoProducts.errorMessage){ @defer(on
timer (3000ms)){
<div class="error">
  <hr />
  <h1>Sorry, but we do not have products at this moment</h1>
  <p>{{ infoProducts.errorMessage }}</p>
  <hr />
</div>
} }
