<div class="login">
  <h1>
    Login to have your <br />
    advatages and discounts
  </h1>
  <form (submit)="login($event)" [formGroup]="loginForm">
    <input type="text" placeholder="Email*" formControlName="email" />
    @if (email?.invalid && (email?.dirty || email?.touched)) {
    @if(email?.errors?.['required']){
    <span>Email is required</span>} @if(email?.errors?.['email']){
    <span>Email has to have an email format</span>} }

    <input type="password" placeholder="Password*" formControlName="password" />
    @if (password?.invalid && (password?.dirty || password?.touched)) {
    <span>Password is required</span>
    }

    <button class="login-button" type="submit" [disabled]="!loginForm.valid">
      Login
    </button>
    <button class="home-button" (click)="goHome()">
      Back to the Home Page
    </button>
  </form>
</div>
