<navbar />
<section
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <ul class="list">
    @for(product of totalProducts; track product.id){ @if(product.id){
    <div class="grid-product" (click)="goToProductDetails(product.id)">
      <div class="grid-product-item grid-product-item-1">
        <div class="product-card">
          @if(product.images[0] && urlChecking(product.images, 0)){
          <div
            class="product-image"
            [style.background-image]="
              product.images[0]
                ? 'url(' + cleanString(product.images[0]) + ')'
                : 'none'
            "
          ></div>
          } @else{
          <div class="product-no-image">
            <mat-icon class="material-symbols-outlined">
              no_photography</mat-icon
            >
          </div>

          }
        </div>
      </div>
      <p class="grid-product-item grid-product-item-2">{{ product.title }}</p>
      <p class="grid-product-item grid-product-item-3">
        {{ product.price | currency : "EUR" : "symbol" : "1.2-2" }}
      </p>
    </div>
    } }
  </ul>
</section>


