@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Dela+Gothic+One&family=Tilt+Warp&display=swap");

h1 {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 40px;
  line-height: 100%;
  text-align: start;
  margin: 10% auto auto 5%;
}
p {
  font-family: "Tilt Warp", sans-serif;
  font-weight: 200;
  color: rgb(42, 42, 42);
}

.list {
  margin-top: 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
}

.products {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}
.grid-layout {
  display: grid;
  align-items: start;
  grid-template-areas:
    "box1 box1 box1 box1 box1 box1"
    "box2 box3 box3 box3 box3 box3";
}
.grid-layout-item {
  display: flex;
  overflow: hidden;
}
.grid-layout-item-1 {
  grid-area: box1;
  // width: 100%;
  position: sticky;
  top: 0;
  height: fit-content;
  background-color: white;
  z-index: 1;
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .element1 {
    align-self: baseline;
  }
  .element2 {
    margin-right: 40px;
    align-self: baseline;
  }
}

.grid-layout-item-2 {
  grid-area: box2;
  position: sticky;
  top: 5%;
}

.grid-layout-item-3 {
  grid-area: box3;
  display: flex;
  flex-direction: column;
  .grid-product {
    display: grid;
    align-items: center;
    grid-template-areas:
      "box1 box1 box1 box1"
      "box1 box1 box1 box1"
      "box1 box1 box1 box1"
      "box1 box1 box1 box1"
      "box2 box2 box2 box2"
      "box3 box3 box3 box3";
  }

  .grid-product-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
  }

  .grid-product-item-1 {
    grid-area: box1;
    .product-card {
      flex: 0 0 22.5%;
      margin-right: 15px;
    }
    .product-image {
      height: 280px;
      background-size: cover;
      background-position: center;
      position: relative;
    }
    .product-no-image {
      height: 280px;
      background-color: rgb(237, 238, 240);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .material-symbols-outlined {
      font-size: 50px;
      height: 50px;
      width: 50px;
      color: rgb(124, 124, 125);
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 50;
    }
  }
  .grid-product-item-2 {
    grid-area: box2;
    margin-top: 10px;
  }
  .grid-product-item-3 {
    grid-area: box3;
    margin-top: -5px;
  }
}
