<navbar />

<div class="background-container" style="height: 300px" #load>
  <div class="background-image">
    <div class="text-overlay">
      <h1>LOOKING FOR ALL KIND OF PRODUCTS?</h1>
      <h1>FAKEE WILL HELP YOU</h1>
    </div>
  </div>
</div>

@defer (on viewport){
<newest-product />
}@placeholder {
<placeholder-newest-product />
}@loading(minimum 1s) {
<placeholder-newest-product />
}@error {
<p>FAILED TO LOAD NEWEST PRODUCT</p>
}
<div id="categories" class="div-trigger" #trigger2></div>
@defer (on viewport (trigger2)){
<categories />
}@placeholder {
<placeholder-slides />
}@loading(minimum 1s) {
<placeholder-slides />
}@error {
<p>FAILED TO LOAD CATEGORIES</p>
}

<div class="div-trigger" #trigger3></div>
@defer (on viewport (trigger3)){
<latest-products />
}@placeholder {
<placeholder-slides />
}@loading(minimum 1s) {
<placeholder-slides />
}@error {
<p>FAILED TO LOAD LATEST PRODUCTS</p>
}
