<navbar />

<div class="background-container" style="height: 300px">
  <div class="background-image">
    <div class="text-overlay">
      <h1>LOOKING FOR ALL KIND OF PRODUCTS?</h1>
      <h1>FAKEE WILL HELP YOU</h1>
    </div>
  </div>
</div>

<div class="newest-product">
  <h4>New arrival</h4>
  <h1>PRODUCTS TITLE</h1>
  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nobis,
    voluptatibus tempore.
  </h3>
  <button>Show Details</button>
</div>
@defer (on viewport) {
<products />
}@placeholder {
<p>hola esperando</p>
}
