@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Dela+Gothic+One&family=Tilt+Warp&display=swap");

h1 {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 900;
  line-height: 100%;
  text-align: start;
  margin: 7.5% auto 2% 5%;
}
p {
  font-family: "Tilt Warp", sans-serif;
  font-weight: 200;
  color: rgb(42, 42, 42);
}

swiper-slide:first-child {
  margin-left: 5%;
}

.products {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.grid-product {
  display: grid;
  max-width: 300px;
  align-items: center;
  grid-template-areas:
    "box1 box1 box1 box1"
    "box1 box1 box1 box1"
    "box1 box1 box1 box1"
    "box1 box1 box1 box1"
    "box2 box2 box2 box2"
    "box3 box3 box3 box3";
}

.grid-product-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.grid-product-item-1 {
  grid-area: box1;
  .product-card {
    flex: 0 0 22.5%;
    margin-right: 15px;
  }
  .product-image {
    height: 280px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .product-no-image {
    height: 280px;
    background-color: rgb(237, 238, 240);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .material-symbols-outlined {
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: rgb(124, 124, 125);
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 50;
  }
}
.grid-product-item-2 {
  grid-area: box2;
  margin-top: 10px;
}
.grid-product-item-3 {
  grid-area: box3;
  margin-top: -5px;
}
.error {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  h1 {
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 40px;
    line-height: 100%;
    text-align: center;
    align-self: center;
  }
  hr {
    width: 90%;
    margin: 30px 0 30px 0;
    background-color: #a9a9a9;
    height: 0.5px;
  }
}
