.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  justify-items: center;
  div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    align-items: center;
    h2 {
      margin: 0px;
    }
    p {
      margin: 0px;
    }
  }
}
